<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bookService"
          class="Exercise08.service.BookService"/>

    <bean id="loggingAspect"
          class="Exercise08.aspect.LoggingAspect"/>

    <aop:config>

        <aop:aspect ref="loggingAspect">

            <aop:before
                    method="beforeMethod"
                    pointcut="execution(* Exercise08.service.BookService.*(..))"/>

            <aop:after
                    method="afterMethod"
                    pointcut="execution(* Exercise08.service.BookService.*(..))"/>

        </aop:aspect>

    </aop:config>

</beans>